/* Fonts and colors */
body {
  color: #00ffcc;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background: linear-gradient(to right, lch(50% 100 200), lch(50% 100 0));
}
h1, h2 {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  color: #ff66cc;
}
h2 {
  color: #ff66cc;;
  font-weight: normal;
  font-size: 32px;
}
a {
  text-decoration: none;
  color: #4352A1;
}

p {
    font-size: 22px;
    background: rgba(253, 253, 253, 0.1);
}

/* Custom design */
.banner {
  background-image: url("retrogame.jpg");
  background-size: 100% auto;
  padding: 120px 0;
}
.banner h1 {
  font-size: 40px;
  background: rgba(0, 0, 0, 0.5);
}
.banner p {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  background: rgba(0, 0, 0, 0.5)

}
.container {
  width: 700px;
  margin: 50px auto;
}
.link-medium {
  background-image: linear-gradient(to bottom, rgb(138, 211, 245), rgb(238, 155, 227));
  color: #ffffff;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 25%;
}
.link-medium:hover {
  background-image: linear-gradient(to bottom, rgba(238, 155, 227, 1), rgba(138, 211, 245, 1));
}

/* Media queries */
@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
